body {
  background-color: #000000;
}

.bar {
  height: 100vh;
  width: 200px;
  background: #fbfdfbf1;
}

.app {
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: 'Press Start 2P';
  text-shadow: 0px 0px 5px rgb(0, 0, 2);
  color: #b96eff;
}

.story-text {
  font-size: 0.8em;
  margin-top: 50px;
  font-family: 'Press Start 2P';
  color: #fffb00;
  text-shadow: 0px 0px 2px #000000;
  /* animation: pulseyellow 4s ease-in-out infinite; */
}

.path-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 0.8em;
  margin: 0 15px;
  margin-top: 3em;
  font-family: 'Press Start 2P';
  font-weight: 300;
  color: #b96eff;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  outline: none;
  animation: shadow-pulse 3s infinite;
}

@keyframes pulseyellow {
  0% {
    text-shadow: 0px 0px 2px rgba(153, 153, 66, 0.6);
  }
  50% {
    text-shadow: 0px 0px 20px #ffff12d5;
  }
  100% {
    text-shadow: 0px 0px 2px rgba(134, 134, 55, 0.6);
  }
}
@keyframes pulsegreen {
  0% {
    text-shadow: 0px 0px 2px rgba(0, 187, 0, 0.5);
  }
  50% {
    text-shadow: 0px 0px 4px #00bb00;
  }
  100% {
    text-shadow: 0px 0px 2px #00bb00;
  }
}
@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(245, 255, 102, 0.404);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 251, 0, 0.336);
  }
}